DB_SOURCE=postgresql://root:secret@localhost:5432/app?sslmode=disable
MIGRATION_URL=file://db/migration
HTTP_SERVER_ADDRESS=0.0.0.0:8080
TOKEN_SYMMETRIC_KEY=
ACCESS_TOKEN_DURATION=87660h
REDIS_ADDRESS=0.0.0.0:6379
SMTP_AUTH_ADDRESS   = <your SMTP auth address>
SMTP_SERVER_ADDRESS = <your SMTP server address>
EMAIL_SENDER_NAME=<You email sender name>
EMAIL_SENDER_ADDRESS=<Your email SMTP sender address>
EMAIL_SENDER_PASSWORD=<Your email SMTP sender password>
VERIFY_EMAIL_ADDRESS=http://localhost/v1/verify_email
VERIFY_EMAIL_SUBJECT="Welcome to GO BE Template!"
VERIFY_EMAIL_BODY="Hello %s %s,<br>Thank you for registering with us.<br>Please <a href='%s'>click here</a> to verify your email address.<br>"